.column {
    display: flex;
    margin:  0 -10px;
    flex-direction: column;
    align-items: stretch;
}

.header {
    height: 60px;
    margin-top: -10px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header .logo {
    justify-content: flex-start;
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    min-width: 120px;
    max-width: 300px;
}

.header .menu {
    display: flex;
    justify-content: flex-end;
    min-width: 0;
    max-width: 450px;
}

.header .menu li {
    margin-left: 30px;
}

.hero {
    min-height: 240px;
    background-color: royalblue;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.hero .display {
    min-width: none;
    max-width: 750px;
    display: flex;
}

.hero .display .entry {
    flex:1;
}

.hero .display .image {
    flex:1;
    align-self: center;
    text-align: center;
    width: 350px;
    height: 200px;
    background-image: linear-gradient(royalblue, aliceblue);
}

.content {
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
}

.content .column {
    max-width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.content .column .array {
    display: flex;
    justify-content: space-around;
}

.content .column .array div div {
    height: 135px;
    width: 135px;
    border-radius: 10px;
    border: 1px solid royalblue;
    margin: 15px;
}

.content .column .array p {
    width: 135px;
    text-align: center;
    margin: 25px 15px 50px 15px;

}

.quote {
    min-height: 200px;
    color: darkgoldenrod;
    display: flex;
    justify-content: center;
}

.quote .column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: none;
    max-width: 680px;
}

.quote #quote {
    font-size: 24px;
    font-style: italic;
    align-self: stretch;
    margin: 45px 0px;
    line-height: 150%;
}

.quote #citation {
    font-weight: bold;
    align-self: flex-end;
    margin: -55px 0px;
}

.signup {
    min-height: 160px;
    background-color: aliceblue;
    line-height: 80%;
    display: flex;
    justify-content: center;
}

.join {
    flex: 1;
    min-width: none;
    max-width: 550px;
    margin: 50px;
    padding: 8px 30px;
    background-color: royalblue;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.join .pitch {
    flex: 1;
}

.footer {
    height: 60px;
    margin-bottom: -10px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color: silver;
}
a:hover, a:active {
    color: aliceblue;
}
a.button:link, a.button:visited {
    color: aliceblue;
    background-color: palevioletred;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}
a.button:hover, a.button:active {
    color: white;
    background-color: salmon;
}