.column {
    display: flex;
    margin:  0 -10px;
    flex-direction: column;
    align-items: stretch;
}

.header {
    height: 60px;
    margin-top: -10px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header .logo {
    justify-content: flex-start;
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    min-width: 120px;
    max-width: 300px;
}

.header .menu {
    display: flex;
    justify-content: flex-end;
    min-width: 0;
    max-width: 450px;
}

.header .menu li {
    margin-left: 30px;
}

.hero {
    height: 240px;
    background-color: royalblue;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.hero .display {
    min-width: none;
    max-width: 750px;
    display: flex;
}

.hero .display .entry {
    flex:1;
}

.hero .display .image {
    flex:1;
    align-self: center;
    text-align: center;
    width: 350px;
    height: 200px;
    background-image: linear-gradient(royalblue, aliceblue);
}

.content {
    height: 560px;
    background-color: aliceblue;
    color: black;
    display: flex;
}

.quote {
    height: 200px;
    background-color: rgba(65, 105, 225, 0.35);
    color: black;
}

.signup {
    height: 160px;
    background-color: aliceblue;
    color: black;
}

.footer {
    height: 60px;
    margin-bottom: -10px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color: silver;
}
.hero a:hover, a:active {
    color: aliceblue;
}
.hero a:link, a:visited {
    color: aliceblue;
    background-color: palevioletred;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}
.hero a:hover, a:active {
    color: white;
    background-color: salmon;
}