.column {
    display: flex;
    margin:  0 -10px;
    flex-direction: column;
    align-items: stretch;
}

.header {
    height: 60px;
    margin-top: -10px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header .logo {
    justify-content: flex-start;
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    min-width: 120px;
    max-width: 300px;
}

.header .menu {
    display: flex;
    justify-content: flex-end;
    min-width: 0;
    max-width: 450px;
}

.header .menu li {
    margin-left: 30px;
}

.hero {
    min-height: 240px;
    background-color: royalblue;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.hero .display {
    min-width: none;
    max-width: 750px;
    display: flex;
}

.hero .display .entry {
    flex:1;
}

.hero .display .image {
    flex:1;
    align-self: center;
    text-align: center;
    width: 350px;
    height: 200px;
    background-image: linear-gradient(royalblue, aliceblue);
}

.content {
    min-height: 560px;
    background-color: aliceblue;
    color: black;
    display: flex;
}

.quote {
    min-height: 200px;
    background-color: rgba(65, 105, 225, 0.35);
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
}

.quote #quote {
    font-size: 24px;
    font-style: italic;
    min-width: none;
    max-width: 680px;
    align-self: center;
    flex: 1;
    border: 1px solid black;
}

.quote #citation {
    font-weight: bold;
    border: 1px solid black
}

.signup {
    min-height: 160px;
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
}

.join {
    flex: 1;
    min-width: none;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.join .pitch {
    flex: 1;
}

.footer {
    height: 60px;
    margin-bottom: -10px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

a:link, a:visited {
    text-decoration: none;
    color: silver;
}
.hero a:hover, a:active {
    color: aliceblue;
}
a.button:link, a.button:visited {
    color: aliceblue;
    background-color: palevioletred;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}
a.button:hover, a.button:active {
    color: white;
    background-color: salmon;
}